<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="template.html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cinemagic | Movies</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <base href="/">
    <link th:href="@{css/styles.css}" rel="stylesheet">

</head>

<body class="d-flex flex-column h-100">
<div layout:fragment="content">

    <main class="flex-shrink-0">
        <!-- Page Content-->

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">CINEMAGIC</h1>
                    <p class="lead fw-normal text-muted mb-0">Movies magic starts here!</p>
                    <hr>

                    <div th:if="${totalPages > 1}" class="row text-center">

                        <h5 class="col">Found <span th:text="${totalItems}">count</span> Movies!</h5>

                        <h5 class="col">Displaying
                            <div class="dropdown d-inline-block">
                                <button th:text="${pageSize}" class="btn btn-light dropdown-toggle" type="button"
                                        id="dropdownMenu2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">page size
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a th:if="${totalItems >= 4}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage}, size=${4})}"
                                       class="dropdown-item" type="button">4</a>
                                    <a th:if="${totalItems >= 6}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage}, size=${6})}"
                                       class="dropdown-item" type="button">6</a>
                                    <a th:if="${totalItems >= 8}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage}, size=${8})}"
                                       class="dropdown-item" type="button">8</a>
                                    <a th:if="${totalItems >= 12}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage}, size=${12})}"
                                       class="dropdown-item" type="button">12</a>
                                </div>
                            </div>
                            movies per page!
                        </h5>
                        <hr>
                    </div>

                    <!-- No movies found alert-->
                    <div class="alert alert-warning text-center" role="alert" th:if="${#lists.isEmpty(movies)}">
                        No movies were found! <a class="btn btn-primary back-button" href="/movies">Go to Movies
                        page</a>
                    </div>

                </div>
                <div class="row gx-5">
                    <div class="col-lg-6 mb-2" th:each="movie : ${movies}">
                        <div class="position-relative mb-5">

                            <span th:if="${T(java.time.LocalDate).now().minusWeeks(1) < movie.releaseDate.plusWeeks(1)}"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger">
                                NEW!
                            </span>

                            <img class="img-fluid rounded-3 mb-3 custom-image" th:src="${movie.posterUrl}"
                                 th:alt="${movie.title} + ' ' + Poster"
                                 th:href="@{/movies/{movieId}(movieId=${movie.id})}">
                            <b><a class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                                  th:href="@{/movies/{movieId}(movieId=${movie.id})}"
                                  th:text="${movie.title}">MOVIE TITLE</a></b><br>
                            <a class="h3 fw-light text-decoration-none link-dark stretched-link"
                               th:href="@{/movies/{movieId}(movieId=${movie.id})}"
                               th:text="${movie.description}">MOVIE DESC</a>
                        </div>
                        <div class="d-flex align-items-start" sec:authorize="hasAnyAuthority('CEO', 'ADMIN')">
                            <a class="btn btn-warning me-2" th:href="@{/movies/edit/{movieId}(movieId=${movie.id})}"
                               role="button">Edit</a>
                            <form th:action="@{/movies/delete/{movieId}(movieId=${movie.id})}" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${totalPages > 1}">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">

                        <!--FIRST PAGE BUTTON-->
                        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                            <a class="page-link"
                               th:href="@{/movies(title=${title == null ? '' : title}, page=${0}, size=${pageSize})}"
                               tabindex="-1">First</a>
                        </li>
                        <!--PREVIOUS PAGE BUTTON-->
                        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                            <a class="page-link"
                               th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage - 1}, size=${pageSize})}"
                               tabindex="-1">Previous</a>
                        </li>

                        <!-- DISPLAY PAGE NUMBERS-->

                        <!-- IF TOTAL PAGES <= 10 DISPLAY ALL PAGE NUMBERS -->
                        <th:block th:if="${totalPages <= 10}">
                            <li class="page-item" th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                                <a th:classappend="${currentPage == i ? 'active' : ''}"
                                   th:href="@{/movies(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                   class="page-link">[[${i+1}]]</a>
                            </li>
                        </th:block>

                        <!-- IF TOTAL PAGES > 10 DISPLAY 5 FIRST, 5 LAST PAGE NUMBERS AND '...' IN THE MIDDLE -->
                        <th:block th:if="${totalPages > 10}">
                            <!--EXAMPLE: PAGE 1 - 5 ... 15 - 20-->
                            <th:block th:if="${currentPage <= 4 || currentPage > totalPages - 6}">

                                <li class="page-item" th:each="i: ${#numbers.sequence(0, 4)}">
                                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                       class="page-link">[[${i+1}]]</a>
                                </li>

                                <a th:href="@{/movies(title=${title == null ? '' : title}, page=${5}, size=${pageSize})}"
                                   class="page-link enabled">...</a>

                                <li class="page-item" th:each="i: ${#numbers.sequence(totalPages - 5, totalPages - 1)}">
                                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                       class="page-link">[[${i+1}]]</a>
                                </li>
                            </th:block>

                            <th:block th:if="${currentPage > 4 && currentPage <= totalPages - 6}">

                                <a th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage - 5}, size=${pageSize})}"
                                   class="page-link enabled">...</a>

                                <li class="page-item"
                                    th:each="i: ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
                                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                                       th:href="@{/movies(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                       class="page-link">[[${i+1}]]</a>
                                </li>

                                <a th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage + 5}, size=${pageSize})}"
                                   class="page-link enabled">...</a>
                            </th:block>

                        </th:block>

                        <!--NEXT PAGE BUTTON-->
                        <li class="page-item" th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                            <a class="page-link"
                               th:href="@{/movies(title=${title == null ? '' : title}, page=${currentPage + 1}, size=${pageSize})}">Next</a>
                        </li>

                        <!--LAST PAGE BUTTON-->
                        <li class="page-item" th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                            <a class="page-link"
                               th:href="@{/movies(title=${title == null ? '' : title}, page=${totalPages - 1}, size=${pageSize})}">Last</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <hr>
        </section>

        <!--                Contact us section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <h2 class="display-4 fw-bolder mb-4">Have any ideas or advices?</h2>
                <a class="btn btn-lg btn-primary" href="/contact-us">Contact us</a>
            </div>
        </section>
    </main>
</div>
</body>
</html>
