<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="template.html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cinemagic | Movies</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
</head>

<body class="d-flex flex-column h-100">
<div layout:fragment="content">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <h3>Movies</h3>
                <form th:action="@{/movies/all(page=${currentPage}, size=${pageSize})}" method="get">
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search"
                               aria-label="Search" aria-describedby="search-addon"
                               th:name="title"/>
                        <button type="submit" class="btn btn-outline-primary">search</button>
                    </div>
                </form>

                <div th:if="${totalPages > 1}" class="row text-center">

                    <p></p>

                    <h6>Found <span th:text="${totalItems}">count</span> Movies!</h6>

                    <h6>Displaying
                        <div class="dropdown d-inline-block">
                            <button th:text="${pageSize}" class="btn btn-light dropdown-toggle" type="button"
                                    id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">page size
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a th:if="${totalItems >= 4}"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage}, size=${4})}"
                                   class="dropdown-item" type="button">4</a>
                                <a th:if="${totalItems >= 6}"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage}, size=${6})}"
                                   class="dropdown-item" type="button">6</a>
                                <a th:if="${totalItems >= 8}"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage}, size=${8})}"
                                   class="dropdown-item" type="button">8</a>
                                <a th:if="${totalItems >= 12}"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage}, size=${12})}"
                                   class="dropdown-item" type="button">12</a>
                                <a th:if="${totalItems >= 20}"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage}, size=${20})}"
                                   class="dropdown-item" type="button">20</a>
                            </div>
                        </div>
                        movies per page!
                    </h6>

                </div>

                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">Archived?</th>
                        <th scope="col">Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Director</th>
                        <th scope="col">Duration(minutes)</th>
                        <th scope="col">Country</th>
                        <th scope="col">Release date</th>
                        <th scope="col"><b><i>Actions</i></b></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${#lists.isEmpty(movies)}">
                        <td colspan="9" class="text-center table-warning">NO MOVIES WERE FOUND!</td>
                    </tr>

                    <tr th:each="movie : ${movies}">
                        <td class="justify-content-center" th:if="${not movie.isActive}">
                            <button class="btn btn-danger"></button>
                        </td>
                        <td class="justify-content-center" th:if="${movie.isActive}">
                            <button class="btn btn-success"></button>
                        </td>
                        <td th:text="${movie.title}">Title</td>
                        <td th:text="${movie.genre}">Genre</td>
                        <td th:text="${movie.director}">Director</td>
                        <td th:text="${movie.duration}">Duration</td>
                        <td th:text="${movie.country}">Country</td>
                        <td th:text="${#temporals.format(movie.releaseDate, 'dd/MM/yyyy')}">RELEASE DATE</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <form method="get" th:action="@{/movies/{movieId}(movieId=${movie.id})}">
                                        <button type="submit" class="btn btn-info"
                                                th:classappend="${movie.isActive ? '' : 'disabled'}">
                                            <i class="bi bi-eye-fill"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form method="get" th:action="@{/movies/edit/{movieId}(movieId=${movie.id})}">
                                        <button type="submit" class="btn btn-warning"
                                                th:classappend="${movie.isActive ? '' : 'disabled'}">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form method="post" th:action="@{/movies/deactivate/{movieId}(movieId=${movie.id})}">
                                        <button type="submit" class="btn btn-danger"
                                                th:classappend="${movie.isActive ? '' : 'disabled'}">
                                            <i class="bi bi-archive"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form method="post" th:action="@{/movies/delete/{movieId}(movieId=${movie.id})}">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div th:if="${totalPages > 1}">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">

                            <!--FIRST PAGE BUTTON-->
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                                <a class="page-link"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${0}, size=${pageSize})}"
                                   tabindex="-1">First</a>
                            </li>
                            <!--PREVIOUS PAGE BUTTON-->
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                                <a class="page-link"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage - 1}, size=${pageSize})}"
                                   tabindex="-1">Previous</a>
                            </li>

                            <!-- DISPLAY PAGE NUMBERS-->

                            <!-- IF TOTAL PAGES <= 10 DISPLAY ALL PAGE NUMBERS -->
                            <th:block th:if="${totalPages <= 10}">
                                <li class="page-item" th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                                       th:href="@{/movies/all(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                       class="page-link">[[${i+1}]]</a>
                                </li>
                            </th:block>

                            <!-- IF TOTAL PAGES > 10 DISPLAY 5 FIRST, 5 LAST PAGE NUMBERS AND '...' IN THE MIDDLE -->
                            <th:block th:if="${totalPages > 10}">
                                <!--EXAMPLE: PAGE 1 - 5 ... 15 - 20-->
                                <th:block th:if="${currentPage <= 4 || currentPage > totalPages - 6}">

                                    <li class="page-item" th:each="i: ${#numbers.sequence(0, 4)}">
                                        <a th:classappend="${currentPage == i ? 'active' : ''}"
                                           th:href="@{/movies/all(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                           class="page-link">[[${i+1}]]</a>
                                    </li>

                                    <a th:href="@{/movies/all(title=${title == null ? '' : title}, page=${5}, size=${pageSize})}"
                                       class="page-link enabled">...</a>

                                    <li class="page-item"
                                        th:each="i: ${#numbers.sequence(totalPages - 5, totalPages - 1)}">
                                        <a th:classappend="${currentPage == i ? 'active' : ''}"
                                           th:href="@{/movies/all(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                           class="page-link">[[${i+1}]]</a>
                                    </li>
                                </th:block>

                                <th:block th:if="${currentPage > 4 && currentPage <= totalPages - 6}">

                                    <a th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage - 5}, size=${pageSize})}"
                                       class="page-link enabled">...</a>

                                    <li class="page-item"
                                        th:each="i: ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
                                        <a th:classappend="${currentPage == i ? 'active' : ''}"
                                           th:href="@{/movies/all(title=${title == null ? '' : title}, page=${i}, size=${pageSize})}"
                                           class="page-link">[[${i+1}]]</a>
                                    </li>

                                    <a th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage + 5}, size=${pageSize})}"
                                       class="page-link enabled">...</a>
                                </th:block>

                            </th:block>

                            <!--NEXT PAGE BUTTON-->
                            <li class="page-item"
                                th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                                <a class="page-link"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${currentPage + 1}, size=${pageSize})}">Next</a>
                            </li>

                            <!--LAST PAGE BUTTON-->
                            <li class="page-item"
                                th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                                <a class="page-link"
                                   th:href="@{/movies/all(title=${title == null ? '' : title}, page=${totalPages - 1}, size=${pageSize})}">Last</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
