<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="template.html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cinemagic | Sessions</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
  <base href="/">
  <link th:href="@{css/styles.css}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
<div layout:fragment="content">

  <main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
      <div class="container">
        <h3>Sessions</h3>

        <p>Search on the page</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">

        <div th:if="${totalPages > 1}" class="row text-center">

          <p></p>

          <h6>Found <span th:text="${totalItems}">count</span> Sessions!</h6>

          <h6>Displaying <div class="dropdown d-inline-block">
            <button th:text="${pageSize}" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">page size</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a th:if="${totalItems >= 4}" th:href="@{/sessions/all(page=${currentPage}, size=${4})}" class="dropdown-item" type="button">4</a>
              <a th:if="${totalItems >= 6}" th:href="@{/sessions/all(page=${currentPage}, size=${6})}" class="dropdown-item" type="button">6</a>
              <a th:if="${totalItems >= 8}" th:href="@{/sessions/all(page=${currentPage}, size=${8})}" class="dropdown-item" type="button">8</a>
              <a th:if="${totalItems >= 12}" th:href="@{/sessions/all(page=${currentPage}, size=${12})}" class="dropdown-item" type="button">12</a>
              <a th:if="${totalItems >= 20}" th:href="@{/sessions/all(page=${currentPage}, size=${20})}" class="dropdown-item" type="button">20</a>
            </div>
          </div> sessions per page!</h6>

        </div>

        <table class="table table-hover text-center">
          <thead>
          <tr>
            <th scope="col">Displayed?</th>
            <th scope="col">Movie</th>
            <th scope="col">Hall Type</th>
            <th scope="col">Hall Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Available?</th>
            <th scope="col"><b><i>Actions</i></b></th>
          </tr>
          </thead>
          <tbody id="myTable">
          <tr th:if="${#lists.isEmpty(movieSessions)}">
            <td colspan="9" class="text-center table-warning">NO SESSIONS WERE FOUND!</td>
          </tr>
          <tr th:each="movieSession : ${movieSessions}">
            <td class="justify-content-center" th:if="${not movieSession.isActive}"><button class="btn btn-danger"></button></td>
            <td class="justify-content-center" th:if="${movieSession.isActive}"><button class="btn btn-success"></button></td>
            <td th:text="${movieSession.movie.title}">Movie Title</td>
            <td th:text="${movieSession.hall.type}">Hall Type</td>
            <td th:text="${movieSession.hall.name}">Hall name</td>
            <td th:text="${#temporals.format(movieSession.sessionDateTime, 'dd/MM/yyyy')}">DATE</td>
            <td th:text="${#temporals.format(movieSession.sessionDateTime, 'HH:mm')}">TIME</td>
            <td th:if="${not movieSession.available}"><button class="btn btn-danger"></button></td>
            <td th:if="${movieSession.available}"><button class="btn btn-success"></button></td>
            <td>
              <div class="row">
                <div class="col-3">
                  <form method="get" th:action="@{/sessions/buy-tickets/{sessionId}(sessionId=${movieSession.id})}">
                    <button type="submit" class="btn btn-info" th:classappend="${movieSession.isActive ? '' : 'disabled'}">
                      <i class="bi bi-eye-fill"></i>
                    </button>
                  </form>
                </div>
                <div class="col-3">
                  <form method="post" th:action="@{/sessions/deactivate/{sessionId}(sessionId=${movieSession.id})}">
                    <button type="submit" class="btn btn-danger" th:classappend="${movieSession.isActive ? '' : 'disabled'}">
                      <i class="bi bi-archive"></i>
                    </button>
                  </form>
                </div>
                <div class="col-3">
                  <form method="post" th:action="@{/sessions/delete/{sessionId}(sessionId=${movieSession.id})}">
                    <button type="submit" class="btn btn-danger" th:classappend="${movieSession.isActive ? 'disabled' : ''}">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                </div>

              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div th:if="${totalPages > 1}">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

              <!--FIRST PAGE BUTTON-->
              <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                <a class="page-link"
                   th:href="@{/sessions/all(page=${0}, size=${pageSize})}"
                   tabindex="-1">First</a>
              </li>
              <!--PREVIOUS PAGE BUTTON-->
              <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : 'enadled'}">
                <a class="page-link"
                   th:href="@{/sessions/all(page=${currentPage - 1}, size=${pageSize})}"
                   tabindex="-1">Previous</a>
              </li>

              <!-- DISPLAY PAGE NUMBERS-->

              <!-- IF TOTAL PAGES <= 10 DISPLAY ALL PAGE NUMBERS -->
              <th:block th:if="${totalPages <= 10}">
                <li class="page-item" th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
                  <a th:classappend="${currentPage == i ? 'active' : ''}"
                     th:href="@{/sessions/all(page=${i}, size=${pageSize})}"
                     class="page-link">[[${i+1}]]</a>
                </li>
              </th:block>

              <!-- IF TOTAL PAGES > 10 DISPLAY 5 FIRST, 5 LAST PAGE NUMBERS AND '...' IN THE MIDDLE -->
              <th:block th:if="${totalPages > 10}">
              <!--EXAMPLE: PAGE 1 - 5 ... 15 - 20-->
                <th:block th:if="${currentPage <= 4 || currentPage > totalPages - 6}">

                  <li class="page-item" th:each="i: ${#numbers.sequence(0, 4)}">
                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                       th:href="@{/sessions/all(page=${i}, size=${pageSize})}"
                       class="page-link">[[${i+1}]]</a>
                  </li>

                  <a th:href="@{/sessions/all(page=${5}, size=${pageSize})}"
                     class="page-link enabled">...</a>

                  <li class="page-item" th:each="i: ${#numbers.sequence(totalPages - 5, totalPages - 1)}">
                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                       th:href="@{/sessions/all(page=${i}, size=${pageSize})}"
                       class="page-link">[[${i+1}]]</a>
                  </li>
                </th:block>

                <th:block th:if="${currentPage > 4 && currentPage <= totalPages - 6}">

                  <a th:href="@{/sessions/all(page=${currentPage - 5}, size=${pageSize})}"
                     class="page-link enabled">...</a>

                  <li class="page-item" th:each="i: ${#numbers.sequence(currentPage - 4, currentPage + 4)}">
                    <a th:classappend="${currentPage == i ? 'active' : ''}"
                       th:href="@{/sessions/all(page=${i}, size=${pageSize})}"
                       class="page-link">[[${i+1}]]</a>
                  </li>

                  <a th:href="@{/sessions/all(page=${currentPage + 5}, size=${pageSize})}"
                     class="page-link enabled">...</a>
                </th:block>

              </th:block>
              
              <!--NEXT PAGE BUTTON-->
              <li class="page-item" th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                <a class="page-link" th:href="@{/sessions/all(page=${currentPage + 1}, size=${pageSize})}">Next</a>
              </li>

              <!--LAST PAGE BUTTON-->
              <li class="page-item" th:classappend="${currentPage + 1 < totalPages ? 'enabled' : 'disabled'}">
                <a class="page-link" th:href="@{/sessions/all(page=${totalPages - 1}, size=${pageSize})}">Last</a>
              </li>

            </ul>
          </nav>
        </div>

      </div>
    </section>

  </main>
</div>
</body>
</html>
