<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cinemagic | Create Hall</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <base href="/">
    <link th:href="@{css/styles.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<div layout:fragment="content">

    <div class="container">
        <main class="flex-shrink-0">
            <form action="/halls/create" method="post" th:object="${hall}">
                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="cinema">Cinema:</label>
                    <select id="cinema" name="cinemaId" class="form-select">
                        <option th:each="cinema : ${cinemas}" th:value="${cinema.id}" th:text="${cinema.name}"></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="type">Type:</label>
                    <select id="type" name="type" class="form-select">
                        <option value="NORMAL">Normal</option>
                        <option value="IMAX">IMAX</option>
                        <option value="VIP">VIP</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Hall</button>
            </form>
        </main>
    </div>

</div>
</body>
</html>
