<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="template.html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cinemagic | Movies</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <base href="/">
    <link th:href="@{css/styles.css}" rel="stylesheet">
    <style>
        /* Set height of rows to half the screen */
        .half-screen {
            height: 50vh;
            overflow-y: auto;
        }

        /* Set fixed height for sections and make them flex containers */
        .section {
            height: calc(50vh - 1rem); /* Adjust as needed */
            overflow-y: auto;
        }

        .section-content {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            justify-content: center; /* Center items vertically */
            align-items: center; /* Center items horizontally */
        }

        /* Style adjustments for the card to ensure it centers correctly */
        .card {
            margin: 0 auto; /* Center card horizontally */
            display: flex; /* Use flex layout for the card itself */
            flex-direction: column; /* Stack card contents vertically */
            justify-content: center; /* Center card contents vertically */
        }

        .custom-container{
            margin-left: 280px; /* Adjust this to match the sidebar width */
            max-width: calc(100% - 280px); /* Adjust the total width minus sidebar width */
            padding: 20px; /* Optional: Adds padding inside the container */
        }
    </style>
<!--    CHARTS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div layout:fragment="content">

    <div class="container custom-container mt-4 justify-content-center">
        <div class="row half-screen">
            <!--            SECTION 1-->
            <div class="col-md-3 section text-center">
                <!-- Section 1 content -->

                <div class="section-content">

                    <h3 class="text-center">Unavailable Sessions</h3>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Movie</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Archive</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(unavailableSessions)}">
                            <td colspan="9" class="text-center table-success">All sessions are available</td>
                        </tr>

                        <tr th:each="movieSession : ${unavailableSessions}"
                            th:classappend="${dateUtils.daysBetween(movieSession.sessionDateTime, #temporals.createNow()) > 3} ? 'table-danger' : 'table-warning'">
                            <td th:text="${movieSession.movie.title}">Movie Title</td>
                            <td>
                                <span th:text="${#temporals.format(movieSession.sessionDateTime, 'dd/MM/yyyy')}">DATE</span>
                                <span th:text="${#temporals.format(movieSession.sessionDateTime, 'HH:mm')}"> TIME</span>
                            </td>

                            <td>
                                <form method="post"
                                      th:action="@{/sessions/deactivate/{sessionId}(sessionId=${movieSession.id})}">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-archive"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!--            SECTION 2-->
            <div class="col-md-3 section">
                <!-- Section 2 content -->

                <div class="section-content">

                    <div class="card text-white mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-danger">
                            <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                        </div>
                        <div class="card-body bg-danger">
                            <h5 class="card-title">Total Movies - <span th:text="${totalMovies}"></span></h5>
                            <p class="card-text">Currently system has <span th:text="${totalMovies}"></span> movies in
                                total!</p>
                        </div>
                        <div class="card-footer bg-transparent text-danger"><a class="btn text-danger" href="/">View
                            Charts
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                            </svg>
                        </a>
                        </div>
                    </div>

                    <div class="card text-white mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-warning">
                            <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                        </div>
                        <div class="card-body bg-warning">
                            <h5 class="card-title">Total Users - <span th:text="${totalUsers}"></span></h5>
                            <p class="card-text">Currently system has <span th:text="${totalUsers}"></span> users in
                                total!</p>
                        </div>
                        <div class="card-footer bg-transparent text-warning"><a class="btn text-warning" href="/"> View
                            Charts
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                            </svg>
                        </a>
                        </div>
                    </div>

                </div>
            </div>

            <!--            SECTION 3-->
            <div class="col-md-3 section">
                <!-- Section 3 content -->

                <div class="section-content">

                    <div class="card text-white mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-info">
                            <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                        </div>
                        <div class="card-body bg-info">
                            <h5 class="card-title">Total Sessions - <span th:text="${totalSessions}"></span></h5>
                            <p class="card-text">Currently system has <span th:text="${totalSessions}"></span> sessions
                                in total!</p>
                        </div>
                        <div class="card-footer bg-transparent text-info"><a class="btn text-info" href="/">View Charts
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                            </svg>
                        </a>
                        </div>
                    </div>

                    <div class="card text-white mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-success">
                            <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                        </div>
                        <div class="card-body bg-success">
                            <h5 class="card-title">New Users - <span th:text="${newUsers}"></span></h5>
                            <p class="card-text">This Month <span th:text="${newUsers}"></span> new users have
                                registered!</p>
                        </div>
                        <div class="card-footer bg-transparent text-success"><a class="btn text-success" href="/"> View
                            Charts
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                            </svg>
                        </a>
                        </div>

                    </div>

                </div>

            </div>

            <!--            SECTION 4-->
            <div class="col-md-3 section text-center">
                <!-- Section 4 content -->
                <h2 class="text-center">Movies with most Sessions</h2>

                <div class="section-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Movie</th>
                            <th scope="col">Sessions Amount</th>
                            <th scope="col">View</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="movie : ${moviesWithMostSessions}">
                            <td th:text="${movie.getTitle()}">Movie Title</td>
                            <td th:text="${movie.getSessionCount()}">Sessions amount</td>

                            <td>
                                <form method="get" th:action="@{/movies/{movieId}(movieId=${movie.getId()})}">
                                    <button type="submit" class="btn btn-info">
                                        <i class="bi bi-eye-fill"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <div class="row half-screen">
            <!-- SECTION 5-->
            <div class="col-md-3 section">
                <!-- Section 5 content -->
                <h2 class="text-center">Amount of sessions</h2>
                <div>
                    <canvas id="moviesSessionsCount" width="1000" height="1000"></canvas>
                </div>
                <div class="section-content">

                </div>

            </div>
            <!-- SECTION 6-->
            <div class="col-md-3 section">
                <!-- Section 6 content -->
                <h2 class="text-center">Bought tickets this month</h2>
                <p></p>

                <div class="section-content">
                    <p class="text-bg-warning" th:if="${chart_moviesSessionsCount.size() == 0}">
                        <b>NO DATA!</b>
                    </p>
                    <canvas id="ticketsThisMonthCount" width="800" height="800"></canvas>
                </div>

            </div>

            <!--            SECTION 7-->
            <div class="col-md-3 section">
                <!-- Section 7 content -->
                <h2 class="text-center">Bought tickets by Session time</h2>

                <div class="section-content">
                    <p class="text-bg-warning" th:if="${chart_ticketsCountsByHour.size() == 0}">
                        <b>NO DATA!</b>
                    </p>
                    <canvas id="ticketsCountByHour" width="800" height="800"></canvas>
                </div>

            </div>

            <!--            SECTION 8-->
            <div class="col-md-3 section">
                <!-- Section 8 content -->
                <h2 class="text-center">Sessions this Month</h2>

                <div class="section-content">

                </div>

            </div>
        </div>
    </div>

    <script th:inline="javascript">
        //Chart 1
        const ctx1 = document.getElementById('moviesSessionsCount');
        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: /*[[${chart_moviesSessionsTitles}]]*/ ['Something went wrong!'],
                datasets: [{
                    label: '# of Sessions',
                    data: /*[[${chart_moviesSessionsCount}]]*/ [0],
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    borderWidth: 1
                },]
            },
            options: {
                scales: {
                    y:{
                        beginAtZero: true,
                        grace: '2%'
                    }
                }

            }
        });

        //Chart 2
        const ctx2 = document.getElementById('ticketsThisMonthCount').getContext('2d');
        new Chart(ctx2, {
            type: 'pie', // or 'line', 'pie', etc.
            data: {
                labels: /*[[${chart_ticketsThisMonthTitles}]]*/ ['Something went wrong!'],
                datasets: [{
                    label: 'Bought tickets: ',
                    data: /*[[${chart_ticketsThisMonthCount}]]*/ [0],
                    backgroundColor: poolColors(/*[[${chart_ticketsThisMonthCount.size()}]]*/),
                    borderColor: poolColors(/*[[${chart_ticketsThisMonthCount.size()}]]*/),
                    borderWidth: 1
                }]
            },
            options: {
            }
        });

        //Chart 3
        const ctx3 = document.getElementById('ticketsCountByHour').getContext('2d');
        new Chart(ctx3, {
            type: 'pie', // or 'line', 'pie', etc.
            data: {
                labels: /*[[${chart_moviesTicketsThisMonthTitles}]]*/ ['Something went wrong!'],
                datasets: [{
                    label: 'Bought tickets: ',
                    data: /*[[${chart_ticketsCountsByHour}]]*/ [0],
                    backgroundColor: poolColors(/*[[${chart_ticketsCountsByHour.size()}]]*/),
                    borderColor: poolColors(/*[[${chart_ticketsCountsByHour.size()}]]*/),
                    borderWidth: 1
                }]
            },
            options: {
            }
        });

        const ctx4 = document.getElementById('sessionsForDaysOfWeek');
        new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: /*[[${chart_sessionsForDaysOfWeekTitles}]]*/ ['Something went wrong!'],
                datasets: [{
                    label: '# of Sessions',
                    data: /*[[${chart_sessionsForDaysOfWeekCount}]]*/ [0],
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y:{
                        beginAtZero: true,
                        grace: '2%'
                    }
                }

            }
        });

        // =======================
        //dynamic colors generation
        function dynamicColors() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgba(" + r + "," + g + "," + b + ", 0.7)";
        }

        function poolColors(a) {
            var pool = [];
            for(var i = 0; i < a; i++) {
                pool.push(dynamicColors());
            }
            return pool;
        }
    </script>

</div>

<!-- Bootstrap core JS-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>
</html>
