<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="template.html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <!-- Head content... -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cinemagic | Stats</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <base href="/">
    <link th:href="@{css/styles.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Duration Range');
            data.addColumn('number', 'Total Sales');

            // Thymeleaf dynamic data insertion
            var salesByDuration = /*[[${salesByDuration}]]*/ 'default';

            var rows = [];
            for (var durationRange in salesByDuration) {
                if (salesByDuration.hasOwnProperty(durationRange)) {
                    rows.push([durationRange, salesByDuration[durationRange]]);
                }
            }
            data.addRows(rows);

            var options = {
                title: 'Ticket Sales by Movie Duration',
                hAxis: {title: 'Duration Range', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('durationChart'));

            chart.draw(data, options);
        }
        /*]]>*/
    </script>
</head>

<body class="d-flex flex-column h-100">
<div layout:fragment="content">
    <main class="flex-shrink-0">
        <section class="py-5">
            <hr>
            <div style="display: flex; justify-content: center; align-items: center;">
                <div id="durationChart" style="width: 900px; height: 500px;"></div>
            </div>

            <hr>
        </section>
    </main>
</div>
</body>
</html>
