<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Cinemagic</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{assets/favicon.ico}" type="image/x-icon">
    <!-- Bootstrap icons-->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}">
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <base href="/">
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/movies"><b>Cinemagic</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/movies">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" >Account: <b th:text="${#authentication.name}"></b></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a sec:authorize="!isAuthenticated" class="dropdown-item" th:href="@{/login}">Log in</a></li>
                            <li>
                                <form method="post" th:action="@{/logout}" sec:authorize="isAuthenticated">
                                    <button class="dropdown-item" th:href="@{/logout}" type="submit">Log out</button>
                                </form>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/user/profile}">Profile</a></li>
                        </ul>
                    </li>
                </ul>
                <!--        Search film form-->
                <form th:action="@{/movies/search}" method="get" class="form-inline d-flex justify-content-end">
                    <input class="form-control mr-sm-2" type="search" placeholder="Find your magic film"
                       aria-label="Search"
                       name="title">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

        </div>
    </nav>
    <!--  ADMIN PANEL  -->
    <nav class="navbar navbar-expand-md navbar-light bg-light" sec:authorize="hasAnyAuthority('CEO', 'ADMIN')">
        <div class="container px-5">
            <span class="navbar-text">
                <b>ADMIN PANEL</b>
            </span>
            <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/movies/all">View movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies/create">Create new movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sessions/all">View sessions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sessions/create">Create new session</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/all">View users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" >View Statistic Charts</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" th:href="@{/statistic/1}">Films Popularity</a></li>
                            <li><a class="dropdown-item" th:href="@{/statistic/2}">Revenue By Movie</a></li>
                            <li><a class="dropdown-item" th:href="@{/statistic/3}">Sales By Duration</a></li>
                            <li><a class="dropdown-item" th:href="@{/statistic/4}">Hall Utilization</a></li>
                            <li><a class="dropdown-item" th:href="@{/statistic/5}">Popularity By Daytime</a></li>
                            <li><a class="dropdown-item" th:href="@{/statistic/6}">Sales By Day Of The Week</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content-->
    <div layout:fragment="content">

    </div>

</main>

<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Cinemagic © 2023</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="/contact-us">Contact us</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>
</html>
